/* @font-face{
  font-family: "Aviner";
  src: url("../Assets/_GlobalFont/AvenirNextProLT/AlternativeFiles/Linotype-AvenirNextLTPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
} */

.App {
  padding: 0 3vw 0 3vw;
  

}

