.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5vh 5vw;

    &__icon {
        height: 3vh;

    }

    &__link {

        &-logo {
            height: 4vh;
            padding: 0 6vw 0 15vw;
        }

    }
}